# Lists which files git can ignore (ie. can be safely deleted and will 
# not be shown as tracked with "git status"). 

# Backup files
*~
*.asv
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties